
  @if (isWon()) {<span class="won">Gagné!</span>}
  @if (e(9)) {<span class="perdu">Pendu !</span>}
  @if (e(9)) {<img class="jambes" src="jambes.png" alt=""/>}
  @if (e(8)) {<img class="bras" src="bras.png" alt=""/>}
  @if (e(7)) {<img class="body" src="body.png" alt=""/>}
  @if (e(6)) {<img class="tete" src="tete.png" alt=""/>}
  @if (e(5)) {<img class="corde" src="corde.png" alt=""/>}
  @if (e(4)) {<img class="angle" src="angle.png" alt=""/>}
  @if (e(3)) {<img class="potence" src="horizontal.png" alt=""/>}
  @if (e(2)) {<img class="mat" src="mat.png" alt=""/>}
  @if (e(1)) {<img class="base" src="base.png" alt=""/>}

