.base,.mat,.potence,.angle,.corde,.tete,.body,.bras,.jambes {
  position: absolute;
}

.base {
  bottom: 0;
  width: 100%;
}
.mat {
  bottom: 55px;
  height: 150px;
  right: 100px;
}
.potence {
  width: 150px;
  bottom: 200px;
  right: 100px;
}
.angle {
  width: 40px;
  bottom: 160px;
  right: 100px;
}
.corde {
  height: 30px;
  right: 235px;
  bottom: 170px;
  width: 2px;
}
.tete {
  width: 40px;
  right: 220px;
  bottom: 140px;
}
.body {
  height: 70px;
  right: 240px;
  bottom: 70px;
}
.bras {
  width: 80px;
  right: 203px;
  bottom: 60px;
}
.jambes {
  width: 80px;
  right: 212px;
  bottom: 20px;
}
.perdu {
  position: absolute;
  right: 20px;
  top: 50px;
  rotate: -20deg;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7114d2;
  padding: 20px 60px;
  border: 3px solid #7114d2;
  background-color: #d4b8f3;
}
.won {
  position: absolute;
  right: 20px;
  top: 50px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7114d2;
  padding: 20px 60px;
  border: 3px solid #7114d2;
  background-color: #d4b8f3;
}
